/* ==================
    Resets
===================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #2c2c2c;
  text-align: center;
}

/* ==================
    Typography
===================== */

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.2321428507566452px;
  color: #ffffff;
}

/* ==================
IP entry form area
===================== */

.section-ip-entry-form {
  padding: 26px;
  background-image: url(images/pattern-bg.png);
}

.ip-entry-form {
  display: flex;
  justify-content: center;
}

.ip-details-container {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ip-detail-container {
  border: 1px solid blue;
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#map {
  height: 180px;
}
