/* ==================
    Resets
===================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #2c2c2c;
  text-align: center;
  height: 100vh;
}

/* ==================
    Typography
===================== */

h1 {
  font-size: 26px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.2321428507566452px;
  color: #ffffff;
}

.ip-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  padding-left: 24px;
  opacity: 50%;
}

/* ==================
IP entry form area
===================== */

.section-ip-entry-form {
  padding: 26px;
  background-image: url(images/pattern-bg.png);
}

.ip-entry-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ip-input {
  height: 58px;
  width: 269px;
  background: #ffffff;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
  border-radius: 15px 0 0 15px;
  border: 0;
}

.ip-input:focus,
.ip-input:hover {
  outline: none;
  cursor: pointer;
}

.btn {
  height: 58px;
  width: 58px;
  color: white;
  background-color: black;
  border-radius: 0 15px 15px 0;
  border: 0;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
}

.btn:hover,
.btn:focus {
  background-color: #3f3f3f;
  cursor: pointer;
}

.ip-details-container {
  margin: 0 auto;
  width: 90vw;
  border: 1px solid red;
  background: #ffffff;
  box-shadow: 0px 50px 50px -25px rgba(0, 0, 0, 0.0983665);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ip-detail-container {
  padding: 13px 24px;
  text-align: center;
}

.ip-detail {
  padding-bottom: 7px;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1.4583333730697632px;
  color: #2c2c2c;
  opacity: 49.87%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#map {
  height: 300px;
}
